/* Define um estilo para a classe "container" */
.container {
  padding: 2rem; /* Define o preenchimento interno (espaço) dentro do contêiner */
}

/* Define um estilo para a classe "slide" */
.slide {
  position: relative; /* Define a posição como relativa para o elemento */
  max-width: 48rem; /* Define a largura máxima do elemento */
  margin: 0 auto; /* Centraliza o elemento horizontalmente na tela */
}

/* Define um estilo para a classe "imagens" */
.imagens {
  display: flex; /* Define o display como flexível para criar um flex container */
  aspect-ratio: 16 / 9; /* Define a proporção de aspecto da imagem */
  overflow-x: hidden; /* Esconde a rolagem horizontal do conteúdo */
  scroll-snap-type: x mandatory; /* Define o comportamento de rolagem horizontal obrigatória */
  scroll-behavior: smooth; /* Define o comportamento de rolagem suave */
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); /* Adiciona uma sombra ao elemento */
  border-radius: 2rem; /* Define um raio de borda para arredondar as bordas do elemento */
}

/* Define um estilo para as imagens dentro da classe "imagens" */
.imagens img {
  flex: 1 0 100%; /* Define as propriedades de flexibilidade da imagem */
  scroll-snap-type: start; /* Define o comportamento de rolagem para o início de uma imagem */
  object-fit: cover; /* Define como a imagem é ajustada ao contêiner */
}

/* Define um estilo para a classe "menu" */
.menu {
  display: flex; /* Define o display como flexível para criar um flex container */
  column-gap: 1rem; /* Define o espaço entre as colunas dentro do flex container */
  position: absolute; /* Define a posição como absoluta para o elemento */
  bottom: 1.25rem; /* Define a distância do fundo (bottom) em relação ao elemento pai */
  left: 50%; /* Define a posição a 50% da largura do elemento pai */
  transform: translateX(-50%); /* Move o elemento horizontalmente para o centro */
  z-index: 1; /* Define a ordem de empilhamento (z-index) do elemento */
}

/* Define um estilo para os links dentro da classe "menu" */
.menu a {
  width: 0.5rem; /* Define a largura dos links */
  height: 0.5em; /* Define a altura dos links */
  border-radius: 50%; /* Define um raio de borda para arredondar os links em forma de círculo */
  background-color: aliceblue; /* Define a cor de fundo dos links */
  opacity: 0.75; /* Define a opacidade dos links */
  transition: opacity ease 250ms; /* Define uma transição de opacidade suave com duração de 250ms */
}

/* Define um estilo para os links quando estão sob o cursor do mouse (hover) */
a:hover {
  opacity: 1; /* Define a opacidade dos links para 1 quando o mouse está sobre eles */
}
